html {
    width: 100%;
    margin: 0 auto;
    background-color: whitesmoke;
    font-family: 'Jura', sans-serif;
}

.container-fluid {
    background-color: #383838;
    border: none;
    width: 100%;
    margin: 0 auto;
}

.clear {
    clear: both;
}

a.navbar-brand {
    margin: 0;
    padding: 0;
}

nav.navbar.navbar-default {
    margin-bottom: 0;
    border: none;
}

ul.nav.navbar-nav > li > a {
    color: whitesmoke;
    padding-left: 45px;
    padding-right: 45px;
    font-family: 'Jura', sans-serif;
    font-weight: bolder;
}

ul.nav.navbar-nav > li > a:hover {
    background-color: #dca7a7;
    text-decoration: underline;

}

ul.nav.navbar-nav {
    margin-left: 95px;
}

.navbar-brand img {
    padding: 0;
    position: relative;
    margin-left: 5vw;
}

a.home {
    text-transform: uppercase;
}

.background-main {
    background-image: url("../photos/lashes.jpg");
    height: 100vh;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

main#about-me {
    background-image: url("../photos/wall2.jpg");
    height: 100vh;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*opacity: 0.7;*/
    margin: 0;
    z-index: 1;
}

h4.main-header-about-me {
    margin: 0;
    padding-top: 5%;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
    font-family: 'Jura', sans-serif;
    font-weight: bolder;
    font-size: 26px;
}

.main-text {
    margin: 0 auto;
    padding-top: 10px;
    width: 60%;
    font-family: 'Jura', sans-serif;
    /*font-weight: bolder;*/
    font-size: 17px;
    text-align: justify;
}

span.sign {
    float: right;
    font-size: 14px;
    font-weight: bolder;
}

span.sign-name {
    float: right;
    font-size: 16px;
    font-weight: bolder;
    text-decoration: underline;
}






